@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* used fonts start */
.open-sans-thin,
.open-sans-mid,
.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-xxthin {
    font-weight: 450;
}

.open-sans-xthin {
    font-weight: 500;
}

.open-sans-thin {
    font-weight: 600;
}

.open-sans-mid {
    font-weight: 700;
}

.open-sans-bold {
    font-weight: 800;
}

/* used fonts end */

/* mobile menu start */
.mobile-menu {
    display: none;
    position: fixed;
    background-color: #222;
    opacity: .9;
    top: 80px;
    width: 70%;
    height: 50vh;
}

.mobile-menu .mobile-nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

/* Group selectors w3schools.com */
.mobile-menu .mobile-nav-links a {
    color: #ccc;
    text-decoration: none;
    font-size: 17px;
}

/* pseudo classlar */
.mobile-nav-links a {
    position: relative;
    margin-bottom: 20px;
}

.mobile-menu .fa-xmark {
    position: relative;
    left: 240px;
    top: -20px;
}

/* mobile menu end */
.container {

    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* header start */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom, #0A101B, #0B1320);
    padding: 10px 10px;
    z-index: 1;
    min-width: 100%;
}

header nav,
header button {
    display: none;
}

header nav {
    gap: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

header img {
    width: 200px;

}

/* header end */

/* introduction start */
.introduction .intro-left h6 {
    font-size: 15px;
    color: #3A68B8;
    padding: 10px 0;

}

.introduction .intro-left h1 {
    font-size: 27px;
    color: #fff;
    padding: 10px 0;
}

.introduction .intro-left p {
    color: #B4B7BB;
    padding: 10px 0;
}

section.introduction {
    background: linear-gradient(to bottom, #08101D, #09111F);
    padding: 25px 15px;
    padding-top: 70px;
}

.introduction .intro-right img {
    width: 100%;
    padding-top: 30px;
}

.intro-buttons .get-started,
.watch-video {
    border: none;
    border-radius: 5px;
    background: #3A68B8;
    width: 45%;
    height: 50px;

}

.intro-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* introduction end */

/* brends start */
.brends-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #09111F;
    padding: 20px;
    gap: 40px;

}

.brends-logos>img {
    width: 50%;
}

/* brends end */

/* learn more start */

section.learnmore {
    padding: 25px 15px;
    background: #020A18;
}

.learnmore .lm-left img {
    width: 100%;
    padding: 30px 0;
}

.learnmore .lm-right p {
    color: #B3B5B9;
    padding: 10px 0;
}

.learnmore .learn-more {
    border: none;
    border-radius: 5px;
    background: #3A68B8;
    width: 40%;
    height: 50px;
}

.lm-right h1 {
    font-size: 24px;
}

/* learn more end */

/* Awards start */

.awards{
    background: #020A18;
    padding: 25px 12px;
}
.a-cards{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #0C1421, #19202D);
    color: #B7BABE;
    border-radius: 10PX;
    align-items: center;
    height: 350px;
    padding: 15px;
    margin: 15px;
}
.a-cards>article{
    font-size: 15px;
}
.a-cards>h4{
    font-size: 20px;
    padding-bottom: 15px;
}
.a-cards>img{
    width: 30%;
    margin: 25px 0;
}

/* Awards end */

/* Reviews start */

section.reviews {
    padding: 25px 15px;
    background: #020A18;
}

.rev-left>p {
    color: #B3B5B9;

}

.rev-right>img {
    width: 100%;
    padding: 30px 0;
}

.rev-left>h1 {
    padding: 20px 0;
}


/* Reviews end */

/* Footer start */

.footer{
    background: linear-gradient(to bottom, #060E1C, #09111F);
    padding: 50px 15px;
    
}
.footer-nav{
    gap: 15px;
}
.footer-nav-info{
    margin-top: 45px;
    gap:15px;
}
.footer-nav-about{
    margin-top: 45px;
    gap: 15px;
}
.social-medias{
    display: flex;
    gap: 30px;
}
.lang-selector a{
    color: white;
}
.footer-nav a{
    text-decoration: none;
}
.footer-nav p{
    color: #9C9FA5;
}
.footer-nav-info a{
    text-decoration: none;
    color: #9C9FA5;
}
.footer-nav-about p{
    color: #9C9FA5;
}
.footer-nav-about a{
    text-decoration: none;
}
.social-medias a{
    text-decoration: none;
    color: #9C9FA5;
}

/* Footer end */

@media (min-width: 768px) and (max-width:1279px) {

    header nav,
    header button {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu .mobile-nav-links {
        display: none;
    }

    header .fa-bars {
        display: none;
    }

    header img {
        width: 189px;
        height: 38px;
    }

    header button {
        width: 15%;
        height: 52px;
        color: #fff;
        background: #3A68B8;
        border: none;
        border-radius: 5px;
        align-items: center;
        justify-content: center;

    }

    header {
        width: 100%;
        padding: 10px 50px;
    }

    section.introduction {
        display: flex;
        align-items: center;
        padding: 80px 50px 30px;
    }

    .intro-buttons .get-started,
    .watch-video {
        width: 35%;
    }

    .intro-buttons {
        display: flex;
        justify-content: flex-start;

    }

    .brends-logos {
        display: flex;
        flex-direction: row;
        gap: 70px;
        padding: 25px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .brends-logos img {
        padding: 7px;
        width: 30%;
    }

    section.learnmore {
        display: flex;
        align-items: center;
        padding: 30px 50px;
        gap: 50px;
    }



    .learnmore .learn-more {
        width: 35%;
    }

    .lm-right h1 {
        font-size: 30px;
    }


    section.reviews {
        display: flex;
        align-items: center;
        padding: 30px 50px;
        gap: 50px;
    }

    .rev-left>p {
        padding: 5px 0;
    }
    .footer{
        padding: 30px 50px;
    }
    .footer img{
        width: 9rem;
    }
    .footer-nav>p{
        font-size: 16px;
    }
    .footer-nav a{
        font-size: 16px;
    }
    .footer-nav-info h4{
        font-size: 18px;
    }
    .footer-nav-info a{
        font-size: 16px;
    }
    .footer-nav-about h4{
        font-size: 18px;
    }
    .footer-nav-about a{
        font-size: 16px;
    }
    .footer-nav-about p{
        font-size: 16;
    }
}

@media(min-width:1280px) {

    header nav,
    header button {
        display: flex;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu .mobile-nav-links {
        display: none;
    }

    header .fa-bars {
        display: none;
    }

    header img {
        width: 189px;
        height: 38px;
    }

    header button {
        width: 10%;
        height: 52px;
        color: #fff;
        background: #3A68B8;
        border: none;
        border-radius: 5px;
        align-items: center;
        justify-content: center;

    }

    header {
        width: 100%;
        padding: 10px 200px;
    }

    section.introduction {
        display: flex;
        align-items: center;
        padding: 60px 200px;
        gap: 40px;

    }
    .intro-left{
        min-width: 50%;
    }
    .introduction .intro-left h1 {
        font-size: 40px;
    }
    .intro-right{
        min-width: 50%;
    }

    .intro-buttons .get-started,
    .watch-video {
        width: 30%;
    }

    .intro-buttons {
        display: flex;
        justify-content: flex-start;

    }

    .brends-logos {
        display: flex;
        flex-direction: row;
        gap: 70px;
        padding: 70px 25px;
        justify-content: center;
        align-items: center;
    }

    .brends-logos img {
        width: 10%;
    }

    section.learnmore {
        display: flex;
        align-items: center;
        padding: 30px 200px;
        background: #020A18;
        gap: 70px;
    }

    .learnmore .lm-left img {
        width: 100%;
        padding: 30px 0;
    }

    .learnmore .lm-right p {
        color: #B3B5B9;
        padding: 10px 0;
    }
    .lm-left{
        min-width: 50%;
    }
    .lm-right{
        min-width: 50%;
    }
    .learnmore .learn-more {
        border: none;
        border-radius: 5px;
        background: #3A68B8;
        width: 25%;
        height: 50px;

    }

    .lm-right h1 {
        font-size: 32px;
    }

    section.reviews {
        display: flex;
        align-items: center;
        padding: 30px 200px;
        gap: 5px;
    }

    .rev-left>h1{
        font-size: 32px;
    }

    .rev-left>p {
        padding: 5px 0;
        font-size: 13px;
    }
    .rev-left{
        min-width: 50%;
    }
    .rev-right{
        min-width: 50%;
    }
    .footer{
        padding: 50px 200px;
    }
    .footer img{
        width: 9rem;
    }
    .footer-nav>p{
        font-size: 14px;
    }
    .footer-nav a{
        font-size: 14px;
    }
    .footer-nav-info h4{
        
        font-size: 16px;
    }
    .footer-nav-info a{
        font-size: 14px;
    }
    .footer-nav-about h4{
        font-size: 16px;
    }
    .footer-nav-about a{
        font-size: 14px;
    }
    .footer .footer-nav-about p{
        font-size: 14px;
    }

}