@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans-thin,
.open-sans-mid,
.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-thin {
    font-weight: 600;
}
.open-sans-mid {
    font-weight: 700;
}
.open-sans-bold {
    font-weight: 800;
}
.mobile-menyu {
    /* top left bottom right */
    /* fixed absolute */
    /* valideyne fixed relative , usaga verilir absolute */
        position: fixed;
        background-color: #222;
        opacity: .9;
        top: 80px;
      
       
       width: 70%;
       transform: translateX(20%);
       height: 50vh;
    
    }
    
    
    .mobile-menyu .mobile-nav-links {
        display: flex;
        /* flex-direction: row; */
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;
       
    
    }
    
    /* Group selectors w3schools.com */
    
    .mobile-menyu .mobile-nav-links a{
        color:#ccc;
        text-decoration: none;
        font-size: 17px;
}
    
    
    /* pseudo classlar */
    
    .mobile-nav-links a{
        position: relative;
        margin-bottom: 20px;
    }
    
 
    
    
    .mobile-menyu .fa-xmark {
       position: relative;
       left: 240px;
       top: -20px;
    
    
    }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav,
header button {
    display: none;
}

header nav {
    gap: 40px;
}

header nav a {
    text-decoration: none;
}

header nav a,
.fa-bars {
    color: #fff;
}

.container {
    padding: 15px 20px;
    background: linear-gradient(to bottom, #0A101B, #0B1320);
}

@media (min-width: 768px) {
    header nav,
    header button {
        display: flex;
    }
    .mobile-menyu {
        display: none;
    }
    .mobile-menyu .mobile-nav-links{
        display: none;
    }
    
    header .fa-bars {
        display: none;
    }

    header img {
        width: 189px;
        height: 38px;
    }

    header button {
        width: 122px;
        height: 52px;
        color: #fff;
        background: #3A68B8;
        border: none;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
    }

    .container {
        padding: 20px 30px;
    }
}
@media (max-width: 767px){
    .container{
        position: fixed;
        width: 100%;
    }
}

@media (max-width: 374px) {
    header .fa-bars {
        display: flex;
    }
    
    
    header img {
        width: 142px;
        height: 28px;
    }
}