@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.open-sans-thin,
.open-sans-mid,
.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.open-sans-thin {
    font-weight: 600;
}
.open-sans-mid {
    font-weight: 700;
}
.open-sans-bold {
    font-weight: 800;
}
.mobile-menyu {
    display: none;
    position: fixed;
    background-color: #222;
    opacity: .9;
    top: 80px;       
    width: 70%;
    height: 50vh;
}    
.mobile-menyu .mobile-nav-links {
        display: none;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: center;      
}    
    /* Group selectors w3schools.com */
.mobile-menyu .mobile-nav-links a{
        color:#ccc;
        text-decoration: none;
        font-size: 17px;
}
/* pseudo classlar */
.mobile-nav-links a{
        position: relative;
        margin-bottom: 20px;
}        
.mobile-menyu .fa-xmark {
        position: relative;
        left: 240px;
        top: -20px;
}
.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom, #0A101B, #0B1320);
    padding: 15px 20px;
    width: 100%;
}
header nav,
header button {
    display: none;
}
header nav {
    gap: 40px;
}
header nav a {
    text-decoration: none;
}
header nav a,
.fa-bars {
    color: #fff;
}

@media (min-width: 768px) {
    header nav,
    header button {
        display: flex;
    }
    .mobile-menyu {
        display: none;
    }
    .mobile-menyu .mobile-nav-links{
        display: none;
    }
    
    header .fa-bars {
        display: none;
    }

    header img {
        width: 189px;
        height: 38px;
    }

    header button {
        width: 122px;
        height: 52px;
        color: #fff;
        background: #3A68B8;
        border: none;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
    }

    header{
        width: 100%;
    }
}
@media (max-width: 767px){
    .container{
        position: fixed;
    }
}

@media (max-width: 374px) {
    header .fa-bars {
        display: flex;
    }
    
    
    header img {
        width: 142px;
        height: 28px;
    }
}